<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10379523609-6lok173ttummjo6gd8vhqvj24r58mpdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10379523609-6lok173ttummjo6gd8vhqvj24r58mpdf</string>
	<key>API_KEY</key>
	<string>AIzaSyA51GpY_nlsClTlV0gLVCv2I50fF4bagjU</string>
	<key>GCM_SENDER_ID</key>
	<string>10379523609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.wikylyu.tempedia</string>
	<key>PROJECT_ID</key>
	<string>tempedia-7fe59</string>
	<key>STORAGE_BUCKET</key>
	<string>tempedia-7fe59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10379523609:ios:f3311316504f4299b19c88</string>
</dict>
</plist>